<p>
  <mat-toolbar color="primary">
    <mat-icon>currency_exchange</mat-icon>

    <span>Convert</span>
    <span class="example-spacer"></span>

    <mat-icon>
      attach_money
    </mat-icon>
    <span *ngIf="usd">{{usd.rate}}</span>
    <mat-icon>euro</mat-icon>
    <span *ngIf="eur">{{eur.rate}}</span>


  </mat-toolbar>
</p>

<div class="convertBlock">
  <h4>Select value for convert</h4>
  <div class="selectBLock">


    <div class="firstValue">
      <mat-form-field appearance="fill">
        Currency
        <mat-select [(ngModel)]="firstCurrency" (ngModelChange)="onChange($event)">
          <mat-option *ngFor="let currency of allCurrencies" [value]="currency.cc">
            {{currency.cc}}
          </mat-option>
        </mat-select>


      </mat-form-field>

      <div class="inputFirstValue">
        <mat-label></mat-label>
        <input matInput type="number" [(ngModel)]="firstValue" (ngModelChange)="onChange($event)">

      </div>

    </div>


    <div class="secondValue">
      <mat-form-field appearance="fill">
        Currency
        <mat-select [(ngModel)]="secondCurrency" (ngModelChange)="onChange($event)">
          <mat-option *ngFor="let currency of allCurrencies" [value]="currency.cc">
            {{currency.cc}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="inputSecondValue">
        <mat-label></mat-label>
        <input matInput type="number" [(ngModel)]="secondValue" (ngModelChange)="onChange($event)">

      </div>
    </div>
  </div>

</div>
